* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #9ebfe8;
  height: 50%;
  overflow: auto;
}
.canvas-content {
  background: #fff;
  border-radius: 7px;
  height: 950px;
  /* box-shadow: 0 5px rgb(6, 6, 78); */
  box-shadow: inset 0 0 15px rgba(6, 6, 78, 0.75);
}

.buttons {
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
  /* padding-top: 10px; */
  padding-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(6, 6, 78, 0.75);
  border-radius: 7px;
  width: 1900px;
  /* box-shadow: inset 0 0 15px rgba(6, 6, 78, 0.75); */
}

.button {
  background-color: #030d5d;
  border: none;
  color: white;
  border-radius: 7px;
  padding: 15px 32px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

/* Hover effect */
.button:hover {
  background-color: #758fce;
  border-color: black;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/* Click effect */
.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

.button:focus {
  color: red;
}
