<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painter</title>
    <script src="https://unpkg.com/konva@8.3.14/konva.min.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <body>
        <div class="container">
            <div class="buttons" id="wrapper">
                <button onclick="drawLine()" class="button">Draw line</button>
                <button onclick="drawTriangle()" class ="button">Draw Triangle</button>
                <button onclick="drawRect()" class ="button">Draw Rectangle</button>
                <button onclick="drawCircle()" class ="button">Draw Circle</button>
                <button onclick="transform()" class="button" id="shape-action">Shapes Action</button>
            </div>
            <!-- <section class="drawing-board"> -->
                <div class="canvas-content">
                    <div id="content">  
                    </div>
                </div> 
            <!-- </section> -->
        </div>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>