<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painter</title>
    <script src="https://unpkg.com/konva@8.3.14/konva.min.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <body>
        <div class="container">
            <!-- <section class="option-board"> -->
                <div class="buttons">
                    <button class="button" id="line">Line</button>
                    <button class="button" id="rectangle">Rectange</button>
                    <button class="button" id="circle">Circle</button>
                    <button class="button" id="triangle">Triangle</button>
                </div>
            <!-- </section> -->
            <section class="drawing-board">
                <div class="canvas">
                    <div class="canvas-content">
                        <div id="content">  
                        </div>
                    </div> 
                </div>
            </section>
        </div>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>